:root {
  --primary-text-color: #3d5278;
  --secondary-text-color: #1a202c;
  --accent-color: #3563e9;
}

/* Car-Rent */
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: -0.02em;
  color: #3d5278;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px;
  width: 1440px;
}

.header__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: var(--secondary-text-color);
}

.header__logo-img {
  width: 32px;
  height: 32px;
}

.header__link {
  margin-right: 8px;
  height: 32px;
}

.header__text {
  margin-left: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  color: #666666;
}

.header__text span {
  margin-left: 8px;
  color: #000;
}

.nav {
  margin: 0 auto;
  margin-top: 100px;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 32px 40px 60px;
  width: 1440px;
}

.nav__logo {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 1px;
  margin-right: 64px;
}

.nav_input {
  position: relative;
}

.nav__form input {
  outline: none;
  height: 44px;
  width: 492px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 70px;
  padding: 0px 64px;
}

.nav__form input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
}

.nav__form input::-moz-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
}

.nav__form input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
}

.nav__form input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
}

.nav__form input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
}

.nav__search {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav__filter {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.nav__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  opacity: 0.8;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 90px;
}

.nav__icon {
  height: 24px;
  width: 24px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 1440px;
}

.content__container {
  background-color: #f6f7f9;
}

/* Content__nav */
.content__nav {
  padding-left: 32px;
  padding-top: 32px;
  padding-right: 32px;
  background-color: #fff;
}

.content__item:not(:last-child) {
  margin-bottom: 56px;
}

.content__title {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.2em;
  color: #94a7cb;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__form input:checked + .fake-checkbox {
  border: transparent;
}

.content__form input:checked + .fake-checkbox .content__svg {
  opacity: 1;
}

.content__form label {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #3d5278;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.content__form label:not(:last-child) {
  margin-bottom: 32px;
}

.content__form span {
  color: #90a3bf;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.fake-checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid #90a3bf;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__svg {
  width: 24px;
  height: 24px;
  opacity: 0;
}

.content__prise {
  width: 296px;
}

.content__prise label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__prise input {
  width: 100%;
}

.main-information {
  padding: 32px;
}

.curent-car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

/* img */
.car-img {
  margin-right: 32px;
}

.car-img__main {
  width: 492px;
  height: 360px;
  border-radius: 10px;
  background: #3563e9;
  padding-top: 24px;
  padding-left: 24px;
  position: relative;
}

.car-img__title {
  width: 372px;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #fff;
}

.car-img__text {
  margin-top: 16px;
  width: 284px;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: #fff;
}

.car-img__main img {
  position: absolute;
  bottom: 24px;
  left: 56px;
}

.car-img__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.car-img__secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 148px;
  height: 124px;
  border: 2px solid #3563e9;
  border-radius: 10px;
}

/* details */
.curent-car__detail {
  position: relative;
  margin-left: auto;
  background-color: #fff;
  padding: 24px 24px 32px 24px;
  width: 492px;
  border-radius: 10px;
}

.curent-car__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #1a202c;
}

.curent-car__reviewer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.curent-car__star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.curent-car__star svg {
  width: 20px;
  height: 20px;
}

.curent-car__star li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviewer-text {
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #3d5278;
}

.curent-car__like {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
}

.curent-car_text {
  margin-top: 32px;
}

.spesification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 44px;
  margin-top: 32px;
  margin-bottom: 68px;
}

.spesification__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.spesification__list li {
  width: 92px;
}

.spesification__type p {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #39485e;
}

.choice p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #3d5278;
}

.price-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new-price {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #1a202c;
}

.new-price span {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #39485e;
}

.old-price {
  display: block;
  text-decoration: line-through;
}

.rent-btn {
  width: 140px;
  height: 56px;
  background-color: #3563e9;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.respound {
  margin: 0 auto;
  padding: 24px;
  width: 1016px;
  background-color: #fff;
  border-radius: 10px;
}

.respound__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-bottom: 32px;
}

.respound__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #1a202c;
}

.respound__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  width: 44px;
  height: 28px;
  background-color: #3563e9;
  border-radius: 4px;
}

.respound__item:not(:last-child) {
  margin-bottom: 32px;
}

.respound__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.respound__name {
  margin-left: 16px;
}

.name-title {
  font-weight: 700;
  font-size: 20px;
  color: #1a202c;
}

.name-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #39485e;
}

.respound__date {
  margin-left: auto;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 500;
  font-size: 14px;
  color: #39485e;
}

.respound__text {
  width: 896px;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: -0.02em;
  color: #3d5278;
  margin-left: auto;
  margin-top: 12px;
}

.respound__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #39485e;
}

.respound__btn svg {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.recent-car {
  width: 1016px;
  margin: 0 auto;
  margin-top: 32px;
}

.recent-car__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.recent-car__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #39485e;
  padding-right: 20px;
  padding-left: 20px;
}

.recent-car__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #3563e9;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
}

.recent-car__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recent-car__item {
  background-color: #fff;
  padding: 24px;
  position: relative;
  border-radius: 10px;
}

.item-car__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #1a202c;
  margin-bottom: 4px;
}

.item-car__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #39485e;
}

.recent-car__styles {
  position: relative;
  overflow: hidden;
  margin-bottom: 52px;
  margin-top: 52px;
}

.styles-gtr {
  margin-top: 58px;
  margin-bottom: 58px;
}

.styles-rr {
  margin-top: 56px;
  margin-bottom: 56px;
}

.recent-car__list img {
  display: block;
  margin: 0 auto;
}

.recent-car__background {
  width: 264px;
  height: 66px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  position: absolute;
  top: 42px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.background__gtr {
  top: 36px;
}

.background__rr {
  top: 38px;
}

.recent-car__informatoin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 269px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.car-information__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.car-information__list svg {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.car-information__list p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #39485e;
}

.recent-car__final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 36px;
}

.recent-car__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #1a202c;
}

.recent-car__text span {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #39485e;
}

.recent-car__btn {
  border: none;
  border-radius: 4px;
  width: 116px;
  height: 44px;
  background-color: #3563e9;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}

.recomendation-car {
  width: 1016px;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

.recomendation-car h3 {
  color: var(--accent-color);
}

.recomendation-car__styles {
  position: relative;
  overflow: hidden;
  margin-bottom: 38px;
  margin-top: 38px;
}

.styles-crv {
  margin-bottom: 43px;
  margin-top: 43px;
}

.recomendation-car__background {
  width: 264px;
  height: 66px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  position: absolute;
  top: 56px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.background__crv {
  top: 51px;
}

.footer__container {
  width: 1440px;
  padding: 80px 60px 60px 60px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-bottom: 108px;
}

.footer__logo {
  width: 292px;
}

.footer__logo-text {
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: -0.01em;
  color: rgba(19, 19, 19, 0.6);
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.footer__list h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #131313;
  margin-bottom: 24px;
}

.footer_link {
  width: 152px;
}

.footer_link a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: rgba(19, 19, 19, 0.6);
}

.footer__info::after {
  content: "";
  position: absolute;
  bottom: -60px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(19, 19, 19, 0.16);
  border-radius: 2px;
}

.footer__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: -0.01em;
  color: #131313;
}

.end__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  margin-left: auto;
}

.end__link a {
  font-weight: 600;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: -0.01em;
  color: #131313;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */