.footer__container {
  width: 1440px;
  padding: 80px 60px 60px 60px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 108px;
}

.footer__logo {
  width: 292px;
}

.footer__logo-text {
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: -0.01em;
  color: rgba(19, 19, 19, 0.6);
}

.footer__list {
  display: flex;
  gap: 60px;
}

.footer__list h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #131313;
  margin-bottom: 24px;
}

.footer_link {
  width: 152px;
}

.footer_link a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: rgba(19, 19, 19, 0.6);
}

.footer__info::after {
  content: "";
  position: absolute;
  bottom: -60px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(19, 19, 19, 0.16);
  border-radius: 2px;
}

.footer__end {
  display: flex;

  font-weight: 600;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: -0.01em;
  color: #131313;
}

.end__link {
  display: flex;
  gap: 60px;
  margin-left: auto;
}

.end__link a {
  font-weight: 600;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: -0.01em;
  color: #131313;
  text-decoration: none;
}
