.main-information {
  padding: 32px;

  @media screen and (max-width: 375px) {
    padding: 32px 24px 0px 24px;
  }
}

.curent-car {
  display: flex;
  margin-bottom: 32px;

  @media screen and (max-width: 375px) {
    display: block;
  }
}

/* img */

.car-img {
  margin-right: 32px;

  @media screen and (max-width: 375px) {
    max-width: 327px;
  }
}

.car-img__main {
  max-width: 492px;
  height: 360px;
  border-radius: 10px;
  background: #3563e9;
  padding-top: 24px;
  padding-left: 24px;
  position: relative;

  @media screen and (max-width: 375px) {
    max-width: 327px;
    max-height: 232px;
    padding-top: 16px;
    padding-left: 16px;
  }
}

.car-img__title {
  max-width: 372px;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.01em;
  color: #fff;

  @media screen and (max-width: 375px) {
    max-width: 240px;
    font-size: 16px;
    line-height: 19px;
  }
}

.car-img__text {
  margin-top: 16px;

  max-width: 284px;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: #fff;

  @media screen and (max-width: 375px) {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 19px;
    max-width: 216px;
  }
}

.car-img__main img {
  position: absolute;
  bottom: 24px;
  left: 56px;

  @media screen and (max-width: 375px) {
    max-width: 190px;
    max-height: 60px;
    bottom: 20px;
    left: 69px;
  }
}

.car-img__position {
  display: flex;
  gap: 24px;
  margin-top: 24px;

  @media screen and (max-width: 375px) {
    gap: 20px;

    & img {
      max-width: 96px;
      max-height: 64px;
    }
  }
}

.car-img__secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 124px;
  border: 2px solid #3563e9;
  border-radius: 10px;

  @media screen and (max-width: 375px) {
    max-width: 96px;
    max-height: 64px;
    border: 1.5px solid #3563e9;
    border-radius: 10px;
    & img {
      max-width: 88px;
      max-height: 56px;
    }
  }
}

/* details */

.curent-car__detail {
  position: relative;
  margin-left: auto;
  background-color: #fff;
  padding: 24px 24px 32px 24px;
  width: 492px;
  border-radius: 10px;

  @media screen and (max-width: 375px) {
    max-width: 327px;
    margin-left: 0;
    padding: 16px;
    margin-top: 32px;
  }
}

.curent-car__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #1a202c;

  @media screen and (max-width: 375px) {
    font-size: 20px;
    margin-bottom: 8px;
  }
}

.curent-car__reviewer {
  display: flex;
  align-items: center;
}

.curent-car__star {
  display: flex;
  align-items: center;

  @media screen and (max-width: 375px) {
    & li:not(:last-child) {
      margin-right: 4px;
    }
  }
}

.curent-car__star svg {
  width: 20px;
  height: 20px;

  @media screen and (max-width: 375px) {
    width: 12px;
    height: 12px;
  }
}

.curent-car__star li {
  display: flex;
  align-items: center;

  & svg:first-child {
    display: none;

    @media screen and (max-width: 375px) {
      display: block;
    }
  }

  & svg:last-child {
    @media screen and (max-width: 375px) {
      display: none;
    }
  }
}

.reviewer-text {
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #3d5278;

  @media screen and (max-width: 375px) {
    font-size: 12px;
    line-height: 15px;
  }
}

.curent-car__like {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;

  @media screen and (max-width: 375px) {
    display: none;
  }
}

.curent-car_text {
  margin-top: 32px;

  @media screen and (max-width: 375px) {
    margin-top: 16px;
    font-size: 12px;
    max-width: 295px;
    line-height: 24px;
  }
}

.spesification {
  display: flex;
  gap: 44px;
  margin-top: 32px;
  margin-bottom: 68px;

  @media screen and (max-width: 375px) {
    margin-top: 16px;
    margin-bottom: 32px;
    gap: 47px;
    max-width: 295px;
  }
}

.spesification__list {
  display: flex;
  gap: 16px;

  @media screen and (max-width: 375px) {
    gap: 24px;
  }
}

.spesification__list li {
  max-width: 92px;

  @media screen and (max-width: 375px) {
    max-width: 52px;
  }
}

.spesification__type p {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #39485e;

  @media screen and (max-width: 375px) {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.01em;

    &:first-child {
      margin-bottom: 16px;
    }
  }
}

.choice p {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #3d5278;

  @media screen and (max-width: 375px) {
    font-size: 12px;
    line-height: 15px;

    &:first-child {
      margin-bottom: 16px;
    }
  }
}

.price-information {
  display: flex;
  align-items: center;
}

.new-price {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #1a202c;

  @media screen and (max-width: 375px) {
    font-size: 20px;
    line-height: 25px;
  }
}

.new-price span {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #39485e;

  @media screen and (max-width: 375px) {
    font-size: 12px;
    line-height: 15px;
  }
}

.old-price {
  display: block;
  text-decoration: line-through;
}

.rent-btn {
  margin-left: auto;
  width: 140px;
  height: 56px;
  background-color: #3563e9;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  @media screen and (max-width: 375px) {
  }
}
