.main-nav {
  margin-top: 100px;

  @media screen and (max-width: 375px) {
    margin-top: 0%;
  }
}

.nav {
  margin: 0 auto;
}

.nav__container {
  display: flex;
  align-items: center;
  padding: 40px 32px 40px 60px;
  max-width: 1440px;

  @media screen and (max-width: 375px) {
    padding: 32px 23px 32px 25px;
    display: block;
    max-width: 375px;
  }
}

.nav__logo {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 1px;
  margin-right: 64px;

  @media screen and (max-width: 375px) {
    display: block;
    margin-right: 0px;
    margin-top: 90px;
    margin-bottom: 24px;
  }
}

.nav_input {
  position: relative;

  @media screen and (max-width: 375px) {
    display: flex;
    align-items: center;
  }
}

.nav__form input {
  outline: none;
  height: 44px;
  width: 492px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 70px;
  padding: 0px 64px;

  @media screen and (max-width: 375px) {
    width: 263px;
    padding: 12px 40px 12px 56px;
    display: flex;
    align-items: center;
  }
}

.nav__form input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
}

.nav__search {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);

  @media screen and (max-width: 375px) {
    left: 24px;
  }
}

.nav__filter-position {
  @media screen and (max-width: 375px) {
    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 10px;
    width: 48px;
    height: 48px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav__filter {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  @media screen and (max-width: 375px) {
    position: relative;
    top: 0;
    right: 0;
    transform: translateY(0);
  }
}

.nav__list {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.nav__item {
  & button {
    border: none;
    background-color: #fff;
    cursor: pointer;
  }

  @media screen and (max-width: 375px) {
    display: none;
  }
}

.profil {
  @media screen and (max-width: 375px) {
    display: block;
    position: absolute;
    top: 32px;
    right: 23px;
  }
}

.menu {
  @media screen and (max-width: 375px) {
    display: block;
    position: absolute;
    top: 34px;
    left: 25px;
  }
}

.nav__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  opacity: 0.8;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 90px;
}

.nav__icon {
  height: 24px;
  width: 24px;
}
