.recent-car {
  width: 1016px;
  margin: 0 auto;
  margin-top: 32px;

  @media screen and (min-width: 375px) and (max-width: 767px) {
    max-width: 327px;
    margin-left: 24px;
  }
}

.recent-car__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  @media screen and (min-width: 375px) and (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.recent-car__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #39485e;
  padding-right: 20px;
  padding-left: 20px;

  @media screen and (min-width: 375px) and (max-width: 767px) {
    font-size: 14px;
    line-height: 18px;
    color: #90a3bf;
    padding: 0;
  }
}

.recent-car__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #3563e9;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;

  @media screen and (min-width: 375px) and (max-width: 767px) {
    font-size: 12px;
    line-height: 15px;
    padding: 0;
  }
}

.recent-car__list {
  display: flex;
  justify-content: space-between;
}

.recent-car__item {
  background-color: #fff;
  padding: 24px;
  position: relative;
  border-radius: 10px;

  @media screen and (min-width: 375px) and (max-width: 767px) {
    padding: 16px;
  }
}

.item-car__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #1a202c;
  margin-bottom: 4px;

  @media screen and (min-width: 375px) and (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.item-car__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #39485e;

  @media screen and (min-width: 375px) and (max-width: 767px) {
    font-size: 12px;
    line-height: 15px;
    color: #90a3bf;
  }
}

.like-visible {
  display: block;
}

.recent-car__styles {
  position: relative;
  overflow: hidden;
  margin-bottom: 52px;
  margin-top: 52px;
}

.styles-gtr {
  margin-top: 58px;
  margin-bottom: 58px;
}

.styles-rr {
  margin-top: 56px;
  margin-bottom: 56px;
}

.recent-car__list img {
  display: block;
  margin: 0 auto;
}

.recent-car__background {
  width: 264px;
  height: 66px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translateX(-50%);
}

.background__gtr {
  top: 36px;
}

.background__rr {
  top: 38px;
}

.recent-car__informatoin {
  display: flex;
  width: 269px;
  justify-content: space-between;
}

.car-information__list {
  display: flex;
  align-items: center;
}

.car-information__list svg {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.car-information__list p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #39485e;
}

.recent-car__final {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
}

.recent-car__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #1a202c;
}

.recent-car__text span {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #39485e;
}

.recent-car__btn {
  border: none;
  border-radius: 4px;
  width: 116px;
  height: 44px;
  background-color: #3563e9;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}
