.recomendation-car {
  width: 1016px;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;

  @media screen and (min-width: 375px) and (max-width: 767px) {
    width: 327px;
  }
}

.recomendation-car h3 {
  color: var(--accent-color);

  @media screen and (min-width: 375px) and (max-width: 767px) {
    color: #90a3bf;
  }
}

.recomendation-car__styles {
  position: relative;
  overflow: hidden;
  margin-bottom: 38px;
  margin-top: 38px;
}

.styles-crv {
  margin-bottom: 43px;
  margin-top: 43px;
}

.recomendation-car__background {
  width: 264px;
  height: 66px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  position: absolute;
  top: 56px;
  left: 50%;
  transform: translateX(-50%);
}

.background__crv {
  top: 51px;

  & .car-crv {
    @media screen and (min-width: 375px) and (max-width: 767px) {
      width: 160px;
      height: 64px;
    }
  }
}

.mob-hiden {
  @media screen and (min-width: 375px) and (max-width: 767px) {
    display: none;
  }
}
