.respound {
  margin: 0 auto;
  padding: 24px;
  max-width: 1016px;
  background-color: #fff;
  border-radius: 10px;

  @media screen and (max-width: 375px) {
    padding: 16px;
    max-width: 327px;
    margin-left: 24px;
  }
}

.respound__position {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 32px;

  @media screen and (max-width: 375px) {
    margin-bottom: 24px;
  }
}

.respound__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #1a202c;
}

.respound__number {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  width: 44px;
  height: 28px;
  background-color: #3563e9;
  border-radius: 4px;
}

.respound__item:not(:last-child) {
  margin-bottom: 32px;
}

.respound__information {
  display: flex;
  align-items: center;
  @media screen and (max-width: 375px) {
    & img {
      max-width: 44px;
      max-height: 44px;
    }
  }
}

.respound__name {
  margin-left: 16px;

  @media screen and (max-width: 375px) {
    margin-left: 8px;
  }
}

.name-title {
  font-weight: 700;
  font-size: 20px;
  color: #1a202c;

  @media screen and (max-width: 375px) {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
  }
}

.name-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #39485e;

  @media screen and (max-width: 375px) {
    margin-top: 8px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.01em;
    color: #90a3bf;
  }
}

.respound__date {
  margin-left: auto;
}

.date {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #39485e;

  @media screen and (max-width: 375px) {
    font-size: 12px;
    line-height: 15px;
    color: #90a3bf;
    margin-bottom: 8px;
  }
}

.respound__text {
  width: 896px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #3d5278;
  margin-left: auto;
  margin-top: 12px;

  & span {
    display: none;
  }

  @media screen and (max-width: 375px) {
    margin-top: 16px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.02em;
    max-width: 243px;
    max-height: 48px;
    overflow: hidden;

    & span {
      display: contents;
    }
  }
}

.respound__btn {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 24px;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #39485e;

  @media screen and (max-width: 375px) {
    font-size: 14px;
    line-height: 18px;
    color: #90a3bf;
  }
}

.respound__btn svg {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  fill: #39485e;

  @media screen and (max-width: 375px) {
    width: 14px;
    height: 14px;
    fill: #90a3bf;
  }
}
