.respound {
  margin: 0 auto;
  padding: 24px;
  max-width: 1016px;
  background-color: #fff;
  border-radius: 10px;

  @media screen and (max-width: 375px) {
    padding: 16px;
    max-width: 327px;
    margin-left: 24px;
  }
}

.respound__position {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 32px;
}

.respound__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #1a202c;
}

.respound__number {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  width: 44px;
  height: 28px;
  background-color: #3563e9;
  border-radius: 4px;
}

.respound__item:not(:last-child) {
  margin-bottom: 32px;
}

.respound__information {
  display: flex;
  align-items: center;
}

.respound__name {
  margin-left: 16px;
}

.name-title {
  font-weight: 700;
  font-size: 20px;
  color: #1a202c;
}

.name-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #39485e;
}

.respound__date {
  margin-left: auto;
}

.date {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 14px;
  color: #39485e;
}

.respound__text {
  width: 896px;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: -0.02em;
  color: #3d5278;
  margin-left: auto;
  margin-top: 12px;
}

.respound__btn {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 24px;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #39485e;
}

.respound__btn svg {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}
